#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define LY_BASE 0
#define LY_SEL 1
#define LY_NUM 2
#define LY_SYM 3
#define LY_NAV 4

&mt {
  quick-tap-ms = <100>;
  global-quick-tap;
  flavor = "tap-preferred";
  tapping-term-ms = <170>;
};

/ {
  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };

  keymap {
    compatible = "zmk,keymap";
    base_layer {
      bindings = <
        &kp Z  &kp Y  &kp U  &kp O  &kp SEMI    &kp Q  &kp L  &kp D  &kp P  &kp X
        &hm LALT C  &hm LCMD I  &hm LCTRL E  &hm LSHFT A  &kp COMMA    &kp K  &hm LSHFT H  &hm LCTRL T  &hm LCMD N  &hm LALT S
        &kp SQT  &kp MINUS  &kp EQUAL  &kp DOT  &kp FSLH    &kp J  &kp M  &kp G  &kp B  &kp V
        &kp W  &kp BSPC  &kp SPACE  &kp TAB    &lt LY_SEL ENTER  &kp R  &kp ESC  &kp F
      >;
    };
    sel_layer {
      bindings = <
        &none &none &none &none &none  &none &none &none &none &none
        &none &none &none &none &none  &none &to LY_BASE &to LY_NUM &to LY_SYM &to LY_NAV
        &none &none &none &none &none  &none &none &none &none &none
        &none &none &none &none  &none &none &none &none
      >;
    };
    num_layer {
      bindings = <
        &none &none &none &none &none  &kp DOT &kp N7 &kp N8 &kp N9 &kp KP_PLUS
        &kp LALT &kp LCMD &kp LCTRL &kp LSHFT &none  &kp COMMA &kp N4 &kp N5 &kp N6 &kp KP_MINUS
        &none &none &none &none &none  &kp KP_DIVIDE &kp N1 &kp N2 &kp N3 &kp KP_MULTIPLY
        &none &kp BSPC &kp SPACE &kp TAB  &lt LY_SEL ENTER &kp N0 &kp ESC &none
      >;
    };
    sym_layer {
      bindings = <
        &kp GRAVE &kp LT &kp GT &kp MINUS &kp PIPE  &kp CARET &kp LBRC &kp RBRC &kp DOLLAR &kp QMARK
        &kp EXCL &kp ASTRK &kp UNDER &kp EQUAL &kp AMPS  &kp HASH &kp LPAR &kp RPAR &kp SEMI &kp DQT
        &kp TILDE &kp PLUS &kp LBKT &kp RBKT &kp PERCENT  &kp AT &kp COLON &kp COMMA &kp DOT &kp SQT
        &none &kp BSPC &kp SPACE &kp TAB &lt LY_SEL ENTER &kp BACKSLASH &kp ESC &kp SLASH
      >;
    };
    nav_layer {
      bindings = <
        &none &none &none &none &kp LCAPS  &none &kp HOME &kp UP &kp END &kp PG_UP
        &kp LALT &kp LCMD &kp LCTRL &kp LSHFT &none  &none &kp LEFT &kp DOWN &kp RIGHT &kp PG_DN
        &none &none &none &none &none  &none &kp DEL &none &none &none
        &none &kp BSPC &kp SPACE &kp TAB  &lt LY_SEL ENTER &none &kp ESC &none
      >;
    };
  };
};
